.intro{
    text-align: center;
    color: white;
    padding-top: 3em;
    font-style:inherit;
    font-size: xx-large;
    background: url(../../images/piz.png);
}
.makeOrder{
    background-color: tomato;
    color:white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}