.intro{
    text-align: center;
    color:blueviolet;
    padding-top: 3em;
    font-size: xx-large;
    background:url(../../images/pizza3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 0em;
}
.head{
    padding: 3em 3em;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'tangerine',serif;
}
#make-order{
    background-color:lawngreen;
    color:white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#contact{
background-color: gray;
font-size: small;
}
#proceed{
padding-left: 5em;
}
.choise{
    padding: 2em 5em;
}
.form{
    color: chartreuse;
    background: transparent;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#name{
    font-size: 2em;
    color: chartreuse;
}
#email{ 
    font-size:2em ;
    color: chartreuse;
}
#message{

    font-size: 2em;
    color: chartreuse;

}