.intro{
    text-align: center;
    color: indigo;
    padding-top: 3em;
    font-style:inherit;
    font-size: xx-large;
    background-color: grey;
}
.makeOrder{
    background:grey;
    color:indigo;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}